.fullWidthTextarea {
    width: 100%;
    min-height: 100px;
    resize: none;
  }
  .description {
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }